.header-container {
    display: none;
    flex-direction: column;
    width: 0;
    background: #4F5B93;
    color: #f6f6f6;
    font-weight: 500;
    max-height: 100dvh;
}

.header-container.active {
    display: flex;
    width: 300px;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 9dvh;
    padding: 0 2rem;
    border-bottom: 1px solid rgba(198, 198, 198, 0.1);
}

nav {
    width: 100%;
    padding: 2rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
}
nav ul li {
    display: inline;
    line-height: 2.5;
}

@media screen and (max-width: 764px) {
    .header-container {
        position: absolute;
        top: 9dvh;
        width: 100%;
        background: #f6f6f6;
        color: #4F5B93;
        z-index: 999;
        border-bottom: 1px solid rgba(79, 91, 147, 0.1);
        /*box-shadow: 0 2px 7px rgba(79, 91, 147, 0.1);*/
    }
    .header-container.active {
        width: 100%;
    }

    .logo {
        display: none;
    }
}