/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Document */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    text-rendering: optimizeSpeed;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
}

h3 {
    font-size: 1.15rem;
}

p {
    font-size: .95rem;
}

/* Lists */
ul,
ol {
    list-style: none;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Images */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Forms */
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* main configs */

.content-container {
    display: grid;
    grid-template-columns: minmax(378px, 1200px) 1fr;
    padding: 0 4rem;
    min-height: 100dvh;
}

@media screen and (max-width: 992px) {
    .content-container {
        padding: 0 1rem;
    }
}