@import "reset.css";
/* main configs */
body {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

main {
    display: grid;
    grid-template-rows: max-content max-content max-content;
    min-height: 100dvh;
    width: 100%;
}

.divide {
    grid-template-columns: auto 1fr;
}

.main-content {
    width: 100%;
    max-height: 100dvh;
    overflow-y: auto;
}

.content-container {
    padding: 0 2rem;
}

@media screen and (max-width: 992px) {
    .content-container {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 764px) {
    .divide {
        grid-template-columns: 1fr;
    }

    .content {
        position: relative;
        top: 9dvh;
    }
}